<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CINEWAVE STUDIOS</title>
    <link rel="stylesheet" href="/styles/config.css">
    <link rel="stylesheet" href="/styles/navbar.css">
</head>
<body>
    <div class="container">
        <nav id="main-nav"></nav>

        <div class="main">
            <div class="profiles">
                <div class="profile-n" >
                    <button onclick="goHome()">
                        <img src="/assets/user1.jpeg" alt="">
                        <p>User1</p>
                    </button>
                </div>
                <div class="profile-n">
                    <button onclick="goHome()">
                        <img src="/assets/user1.jpeg" alt="">
                        <p>User2</p>
                    </button>
                </div>
                <div class="profile-n">
                    <button onclick="goHome()">
                        <img src="/assets/user1.jpeg" alt="">
                        <p>User3</p>
                    </button>
                </div>
                <div class="profile-n">
                    <button onclick="goHome()">
                        <img src="/assets/user1.jpeg" alt="">
                        <p>User4</p>
                    </button>
                </div>
                <div class="profile-n ">
                    <button class="add-profile-link">
                        <img src="/assets/add-profile.svg" alt="">
                        <p>add profile</p>
                    </button>
                </div>
            </div>
        </div>
        <div class="settings">
            <div class="button-options">
                <button>App Settings</button>
            </div>
            <div class="button-options">
                <button>Account</button>
            </div>
            <div class="button-options">
                <p>Control Parental</p>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                  </label>
            </div>
            <div class="last-button">
                <button>Sign Out</button>
            </div>
        </div>

    </div>

    <script src="/components/navbar.js"></script>
</body>
</html>